.auth-container {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  min-height: 100vh; /* Заполняем всю высоту экрана */
  background-color: var(--bg-dark); /* Цвет фона страницы */
}

.auth-text {
  background-color: var(--bg-light); /* Цвет фона формы */
  color: var(--accent); /* Цвет текста */
  text-align: center; /* Центрируем текст внутри */
  padding: 100px; /* Внутренние отступы для формы */
  border-radius: 8px; /* Скругленные углы формы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  max-width: 400px; /* Ограничиваем максимальную ширину формы */
  width: 100%; /* Форма занимает всю доступную ширину */
}

.auth-text > *:not(:last-child) {
  margin-bottom: 30px; /* Отступы между элементами внутри формы */
}

.textLog {
  display: flex; /* Создаем flex-контейнер */
  align-items: center; /* Выровнять текст и поле по вертикали */
  gap: 10px; /* Расстояние между текстом и полем ввода */
  margin-bottom: 15px; /* Отступ снизу у каждого поля */
}

.inpText {
  flex: 1; /* Поле ввода растягивается по ширине */
  padding: 8px; /* Внутренние отступы поля ввода */
  max-width: 260px; /* Максимальная ширина текстового поля */
  border-radius: 5px; /* Скругленные углы у поля ввода */
  outline: none; /* Убираем стандартную обводку */
  font-size: 14px; /* Размер шрифта в поле ввода */
}

.auth-button {
  box-sizing: border-box; /* Учитываем padding и border в размерах */
  background-color: var(--accent);
  padding: 0.7rem 2rem;
  color: var(--text-light);
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent; /* Задаём прозрачную границу */
  transition: background-color 0.3s, border-color 0.3s;
  &:hover {
    background-color: var(--accent-dark); /* Меняем цвет фона */
    border-radius: 5px;
    border: 1px solid var(--accent);
  }
}
.headerAuth{
  text-align: center;
  font-size: 2rem ;

}

