@use "../../../variables";

.education-section {
  padding:  1rem;
  background-color: var(--bg-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--text-light);

  .container {
    max-width:1000px ;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.37); /* Полупрозрачный фон для текста */
    border-radius: 8px;
    box-shadow: var(--shadow);
    color: var(--text-light);
  }

  .education-title {
    font-size: 2.5rem;
    color: var(--accent);
    font-weight: bold;
  }

  .education-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--text-light);
    font-weight: 300;
  }

  .education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 3rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Убедитесь, что на маленьких экранах карточки будут по одной
    }
  }

  .education-card {
    background-color: var(--bg-card);
    border-radius: 12px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
    opacity: 0;
    animation: fadeIn 0.5s forwards;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .content {
      padding: 1.5rem;
      color: var(--text-light);

      h3 {
        margin-top: 0;
        font-size: 1.5rem;
        color: var(--text-dark);
      }

      p {
        font-size: 1rem;
        color: var(--text-light);
        margin-top: 0.5rem;
      }
    }
  }

  // Добавляем анимацию для появления карточек
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}

