@import "../../../variables"; // импорт переменных

.education-section {
  background-color: var(--bg);
  padding: 4rem 2rem;
  text-align: center;
  color: var(--text-dark);

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .education-title {
    font-size: 2.5rem;
    color: var(--accent);
    font-weight: bold;
  }

  .education-text {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--text-light);
    font-weight: 300;
  }

  .education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
  }

  .education-card {
    background-color: var(--bg-card);
    border-radius: 12px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 1.5rem;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }

    h3 {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: var(--text-dark);
    }

    p {
      font-size: 1rem;
      color: var(--text-light);
      margin-top: 0.5rem;
    }
  }
}

