.hookah-detail {
  padding: 3rem 1rem;
  background-color: var(--bg-dark);
  color: var(--text-light);
  text-align: center;
  cursor:default;

  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--accent);
  }

  .section {
    margin-bottom: 3rem;

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: var(--accent);
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: var(--text-light);
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.1rem;
        color: var(--text-light);
        margin-bottom: 1rem;
      }
    }
  }

  .gallery {
    width: 100%;
    margin-bottom: 1rem;

    .slick-slide {
      display: flex;
      justify-content: center;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .image-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; // Вписываем ширину в область слайда
      height: 800px; // Устанавливаем фиксированную меньшую высоту
    }

    .image-container {
      position: relative;
      width: 100%;
      height: 100%; // Совпадает с высотой контейнера
      border-radius: 10px;
      overflow: hidden; // Обеспечиваем ограничение в границе
      box-shadow: var(--shadow);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain; // Сохраняем пропорции и избегаем обрезания
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  .slick-dots {
    bottom: -60px;
    display: flex !important;
    justify-content: center;

    li {
      margin: 0 5px;
    }
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  font-size: 0;
  cursor: pointer;

  &::before {
    font-size: 30px;
    color: var(--text-light);
  }
}

.slick-prev {
  left: 10px;

  &::before {
    content: '←';
  }
}

.slick-next {
  right: 10px;

  &::before {
    content: '→';
  }
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 20;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  svg {
    stroke: var(--text-light);
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: var(--accent-dark);
  }

  &.prev {
    left: 10px;
  }

  &.next {
    right: 10px;
  }
}
.map{
  position:relative;
  overflow:hidden;
}
.name{
  color:#eee;
  font-size:12px;
  position:absolute;
  top:0
}
.bio{
  color:#eee;
  font-size:12px;
  position:absolute;
  top:14px
}
.info{
  color:#eee;
  font-size:12px;
  position:absolute;
  top:28px
}
.frame1 {
  position: relative;
  width: 660px;
  height: 500px;
  border: 10px solid rgba(33, 28, 29, 0.48); /* светлая рамка */
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.47); /* тень для глубины */
  border-radius: 15px;
}






