.home {
  width: 100%;
  height: 100vh; /* Высота на весь экран */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  cursor:default;

  .home-container {
    text-align: center;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 2rem;
    border-radius: 8px;

    .home-title {
      font-size: 3rem;
      font-weight: bold;
      color: var(--accent);
      margin-bottom: 2rem;
    }

    .home-buttons {
      display: flex;
      justify-content: center;
      gap: 1.5rem;

      .button {
        display: inline-block;
        background-color: var(--accent);
        padding: 1rem 1.5rem;
        color: var(--text-light);
        font-size: 1.125rem;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.2s;
        &:hover {
          background-color: var(--accent-dark);
        }
      }
    }

    .home-description {
      margin-top: 2rem; /* Отступ сверху */
      padding: 1rem 2rem;
      background-color: rgba(0, 0, 0, 0.4); /* Ещё один слой затемнения */
      border-radius: 8px;
      box-shadow: var(--shadow);

      h2 {
        font-size: 2rem;
        color: var(--accent);
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.6;
        color: var(--text-light);
      }
    }
  }
}

.home-buttons {
      display: flex;
      justify-content: center;
      gap: 2rem;

      .button {
        box-sizing: border-box; /* Учитываем padding и border в размерах */
        background-color: var(--accent);
        padding: 1rem 2rem;
        color: var(--text-light);
        font-size: 1.125rem;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid transparent; /* Задаём прозрачную границу */
        transition: background-color 0.3s, border-color 0.3s; /* Анимация изменения фона и границы */

        &:hover {
          background-color: var(--accent-dark); /* Меняем цвет фона */
          border-color: var(--accent); /* Меняем границу */
        }
      }
    }







