@import 'variables';
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: var(--font-main);
}

a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    color: var(--accent-hover);
  }
}

button {
  font-family: var(--font-main);
}



