:root {
  // Цвета
  --bg-dark: #211c1d;
  --bg-card: #2b2b2b;
  --accent: #e4a788;
  --accent-hover: #f4bb9b;
  --text-light: #f1f1f1;
  --text-muted: #d6d6d6;
  --error: #ff6b6b;

  // Радиус и тени
  --radius: 16px;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.3);

  // Шрифты
  --font-main: 'Segoe UI', sans-serif;
}
