.root{
  position: relative;

}
.search{
  width:190px;
  padding: 3px 10px;
  padding-left:40px ;
  height:30px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size:14px;

}
.SearchSvg{
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0.3;
  left: 5px;
  top: 3px;
}
.cleanSvg{
  width: 20px;
  height: 20px;
  opacity: 0.5;
  position: absolute;
  right: 10.5rem;
  top: 7px;
  color: rgb(0, 0, 0);
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}